@import "nib/vendor"

vendor-perfixes = o ms moz webkit official


@keyframes aminationPorta
	0%
		background-image url("../img/portafolio1.png")
	25%
		background-image url("../img/portafolio2.png")
	50%
		background-image url("../img/portafolio3.png")
	75%
		background-image url("../img/portafolio4.png")
	100%
		background-image url("../img/portafolio1.png")
		
@keyframes animaScrollFle
	10%
		transform:translateY(3px) rotate(2deg)
	20%
		transform:translateY(-3px) rotate(-2deg)
	30%
		transform:translateY(3px) rotate(2deg)
	40%
		transform:translateY(-3px) rotate(-2deg)
	50%
		transform:translateY(2px) rotate(1deg)
	60%
		transform:translateY(-2px) rotate(-1deg)
	70%
		transform:translateY(2px) rotate(1deg)
	80%
		transform:translateY(-2px) rotate(-1deg)
	90%
		transform:translateY(1px) rotate(0)
	100%
		transform:translateY(-1px) rotate(0)

@keyframes animImgPerfil
	10%
		transform:translateX(3px) rotate(2deg)
	20%
		transform:translateX(-3px) rotate(-2deg)
	30%
		transform:translateX(3px) rotate(2deg)
	40%
		transform:translateX(-3px) rotate(-2deg)
	50%
		transform:translateX(2px) rotate(1deg)
	60%
		transform:translateX(-2px) rotate(-1deg)
	70%
		transform:translateX(2px) rotate(1deg)
	80%
		transform:translateX(-2px) rotate(-1deg)
	90%
		transform:translateX(1px) rotate(0)
	100%
		transform:translateX(-1px) rotate(0)

@keyframes amination
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)
	
@keyframes imaEstre
	0%
		opacity 0
	50%
		opacity 1
	100%
		opacity 0

@keyframes poro1
	0%
		top -66% 
		left 10%
	25%
		top -20% 
		left 101%
	50%
		top -20% 
		left -1%
	75%
		top -55% 
		left 40%
	100%
		top -66% 
		left 10%
		
@keyframes poro2
	0%
		top -66% 
		left 101%
	25%
		top -60% 
		left 5%
	50%
		top -30% 
		left 50%
	75%
		top -25% 
		left 40%
	100%
		top -66% 
		left 101%

@keyframes poro3
	0%
		top -66% 
		left 50%
	25%
		top -30% 
		left -1%
	50%
		top -40% 
		left 101%
	75%
		top -25% 
		left 40%
	100%
		top -66% 
		left 50%
		
@keyframes poro4
	0%
		top -30% 
		left 50%
	25%
		top -66% 
		left 90%
	50%
		top -40% 
		left 60%
	75%
		top -30% 
		left 100%
	100%
		top -30% 
		left 50%

body, html
	margin 0
	color white
	font-family: 'Roboto',sans-serif;
	font-size 20px
	width 100%
	height 100%
	
header
	position relative
	z-index 2
	margin-left 15%
	margin-right 15%
	margin-top 5%
	width 70%
	display inline-block
	text-align center
	
hr
	width 300px
	margin 0 auto
	border  1px solid rgba(85, 10, 0,.4)
		
header h1
	margin 0
	margin-bottom .5%

.prueba
	position relative
	width 2000px
	height 100%
	background green
	float left

.contenedor
	
	height 100%

.contenido
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	
.contenedorHijo
	position relative
	width 100%
	height 100%
	background: rgba(67, 47, 117,.2);
	
.contenedorImgPersonal:hover 

	animation-name animImgPerfil
	animation-duration: .75s;
	animation-timing-function: linear;
	animation-iteration-count: 1;


.contenedorImgPersonal
	width 170px
	height 170px
	margin 0 auto
	margin-bottom 1%
	border: 2px solid rgb(85, 10, 0)
	border-radius: 50%;
	box-shadow 0px 0px 30px rgb(85, 10, 0)
	background-image url("../img/imgper.jpg")
	
.contacto
	margin-left 20%
	margin-right 20%
	margin-top .4em
	height 2.5em
	text-align center

.telefono
	width 2.5em
	height 2.5em
	margin 0
	display inline-block
	background-image url("../img/telefono2.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition	background-image 3s
	&:hover
		cursor pointer 
		background-image url("../img/telefono3.png")
.mail
	width 2.5em
	height 2.5em
	margin 0
	display inline-block
	background-image url("../img/correo2.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition	background-image 3s
	&:hover
		cursor pointer 
		background-image url("../img/correo.png")
.lema
	width: 90%;
	margin: 0 auto;
	p
		width 40%
		margin 0 auto
		margin-top 1%
		text-align center
		font-size .9em
	
.lobby
	z-index: 1;
	position: relative;
	height: 84%;
	width: 100%;
	
.link
	width 100%
	position relative
	height 15em
	
.links
	width: 7.5em;
	margin: 0 auto;
	height 5em
	border-bottom: 1px solid ;
	transition all .16s
	
	
	h6
		margin 0	
		width 100px
		margin-top 3.35em
		position relative
		float left

.imgLinks
	margin 0
	margin-top 1.35em
	width 2.5em
	height 2.5em
	position relative
	float left
	transition all 2s

.educacion:hover
	transform: scale(1.1) rotate(4deg);
	border-bottom: 1px solid rgb(85,10,0);
	.imgEdu
		background-image url("../img/diploma.png")
	
.habilidades:hover
	transform: scale(1.1) rotate(4deg);
	border-bottom: 1px solid rgb(85,10,0);
	.imgHabi
		background-image url("../img/habilidad.png")

.portafolio:hover
	border-bottom: 1px solid rgb(85,10,0);
	.imgPorta
		animation-name aminationPorta
		animation-duration: 2s;
		animation-timing-function: linear;
		animation-iteration-count infinite 
	
.imgEdu
	background-image url("../img/diploma2.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

.imgHabi
	background-image url("../img/habilidad2.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

.imgPorta
	background-image url("../img/portafolio1.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
.fondoLobby
	width: 100%;
	height: 100%;
	position: fixed;
	background-image url("../img/fondo2.jpg")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	
.imgh
	width 107px
	height 100px
	position relative
	float left
	margin 10px
	border-radius: 50%;
	box-shadow 0px 0px 30px rgba(85, 10, 0,.4)
	img
		width 100%
		height 100%
		&:hover 
			animation-name amination
			animation-duration: 3s;
			animation-timing-function: linear;
			animation-iteration-count infinite 
	h5
		margin: 0;
		text-align: center;
		box-shadow: 0 42px 50px rgba(85,10,0,1)
		
.imgAnalis
	background-image url("../img/habiAnalisis.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	

.imgCode
	background-image url("../img/habiCode.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	

.imgCrear
	background-image url("../img/habiCrea.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	

.scrollBoton
	margin-top: 3em;
	text-align: center;
	margin-bottom: 1.3%;
	h5
		margin 0 auto
		&:hover
			animation-name animaScrollFle
			animation-duration: 2s;
			animation-timing-function: linear;
			animation-iteration-count: 1;

	h6
		margin: 0;
		margin-top: 20px;
	&:hover
		cursor pointer
.habilities
	width 381px
	height 6.5em
	margin 0 auto
	margin-top 1%
	
.estrella
	width 100px
	height 100px
	background-image url("../img/estrella.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
	animation-name imaEstre
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	position relative

.poritos
	width 10px
	height 10px
	top -66% 
	left 10%
	background-image url("../img/poritos.png")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position relative
	opacity .5

.p1
	animation-name poro1
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
.p2
	animation-name poro2
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

.p3
	animation-name poro3
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
.p4
	animation-name poro4
	animation-duration: 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

.scrollx
	
	width 3000px
	height 100%
	
.contenido::-webkit-scrollbar
{
	height: 5px;
}
	
::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: none;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: grey;
}

.menu
	position relative
	float left
	width 12em
	height 100%
	background black
	hr
		width 70%

.volverArriba
	position: fixed;
	right 0
	float: right;
	bottom: 0;
	display none
	&:hover
		cursor pointer
	
.imgHome
	
	margin 0 auto
	text-align center
	width 100% 
	height 10em 
	position relative
	h5
		margin 0 
		margin-top: 4%;

.imgPerfilHome
	
	width 100px
	height 100px
	margin 0 auto
	margin-bottom 1%
	border: 2px solid rgb(85, 10, 0)
	border-radius: 50%;
	box-shadow 0px 0px 30px rgb(85, 10, 0)
	background-image url("../img/imgper.jpg")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-top: 15%;
	position relative
	&:hover
		
		animation-name animImgPerfil
		animation-duration: .75s;
		animation-timing-function: linear;
		animation-iteration-count: 1;